<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/counsellor.css">
    <title>counsellor-login</title>
</head>
<body>
    <div class="hero">
        <div class="con_1">
            <h2>Counsellor Login</h2>
            <form class="form1" action="/counsellor" method="post">
                <label for="username">Username:</label><br>
                <input class="username" type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label><br>
                <input class="pass" type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
            <p class="small-text">Don't have an account? <a href="/create-account">Create Account</a></p>
            <img class="rectangle" src="/static/Rectangle 5.png" alt="">
            <img class="rectangle2" src="/static/Rectangle 6.png" alt="">
        </div>
        <div class="con_2">
            <img class="conImg2" src="/static/Counselor_Illustration.png" alt="">
        </div>
    </div>
</body>
</html>